@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

.container {
  background-color: #2D2626;
  width: 100%;
  min-height: 100vh;
  font-family: 'Rowdies', sans-serif;
}

.title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
  color: #EA2D2E;
}